.star-ratings {
  margin-left: 11px;
  padding: 0.2rem;
}

.detailposter-image {
  width: 20%;
}

.project-details-info {
  width: 100%;
}

.project-details-info span {
  font-size: 1.2rem;
}

.project-details-info button {
  margin-top: 1.2rem;
  padding-top: 0;
  padding-bottom: 0;
  
}

#weeklyrank, #nowplaying, #mymovielist {
  padding-top: 100px;
}

#login, #register {
  display: flex;
  justify-content:center;
  padding-top: 100px;
}